@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
/* login */
.login-form{
  align-items: center;
}
.cardlogin{
  /* margin-top:300px;
  margin-bottom: 300px; */
  margin: auto;
  width: 500px;
  border-radius: 25px;
  border: 4px solid #57737A;
  padding: 20px;
  background-color: transparent;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}
.budget-logo{
  margin: auto;

}
.about-title{
  color:tomato !important;
  text-shadow: whitesmoke;
}
.login-label{
  color: white;
}
.about-app{
  color: white;
}
.about-app:hover{
  color:tomato;
}
.btn-block{
  background-color: #142EA1;
}
.vertical-center {
  background: none;
  color: black;
}
.Chart-text{
	color: Black;
}
.allRecord{
  margin: 20px;
}
.card_date{
  color: white;
}
.transaction-card{
  height:820px;
  overflow:auto;
}
/* navbar */

.navbar-design{
  background-color: transparent !important;
  height: 50px;
  
}
.nav-link{
  color:white !important;
  
}
.nav-link:hover{
  color:tomato !important;
  font-size: larger;
}
.nav-link-brand{
  color:tomato !important;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
  
}
/* home */
.container-form{
  padding-top: 50px;
  align-items: center;
}
.home-logo{
  padding-top: 0%;
  background-image: url('../images/budget.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  background-color: transparent;
  border: none;
}
.home-desc{
  color: white;
  text-align: center;
}
.home-desc-brand{
  color: tomato;
  font-weight: bold;
  text-align: center;
}
/* profile */
.profile-card{
  background-color: transparent;
  border-bottom-color: white;
  border-bottom-width: 5px;
  text-align: end;
}
.profile-card-name{
  color: tomato !important;
}
.profile-card-email{
  color: white !important;
  
}
/* index */
.cardHighlight{
  background-color: transparent;
  border-color: white;
  border-radius: 30px;
  text-align: end;

}
.card-name{
  font-weight: bold;
  color: tomato !important;
}
.card-amount{
  color: white !important;
}
.cardAdd{
	height:500px;
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
}
.cardAdd2{
	height:500px;
  background-color: transparent;
  border: none;
  padding-bottom: 10px;
  padding-top: 10px;
}
.card-header{
  font-weight: bold;
  color: tomato !important;
}
.add-field-desc{
  color: white !important;
}

.form-button{
  background-color: #142EA1;
}
/* filtering */
.card-doughnut{
  background-color: transparent;
  border-color: white;
  height: 300px;
}
.filter-desc{
  font-weight: bold;
  color: tomato !important;
}

.filter-cards{
  border-radius: 30px;
  background-color: transparent;
}
.card-title{
  font-weight: bold;
  color: tomato !important;
}
.card-text{
  color: white !important;
}
/* Charts */
.chart-text{
  font-weight: bold;
  color: tomato !important;
}
/* register */
.reg-form{
  margin-top: 50px;
  margin: auto;
  width: 500px;
  border: none;
  background-color: transparent;
}
.reg-header-conatiner{
  margin: auto;
  
}
.reg-header{
  font-weight: bold;
  color: tomato !important;
  
}
.register-label{
  color: white !important;
}
.reg-button{
  background-color: #142EA1;
}
/* about */


.card-about-photo{
  margin-top: 50px;
  padding: auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.card-about{
  align-items: center;
  width: 400px;
  margin: auto;
  background-color: transparent;
  border-color: transparent;
  border-radius: 30px;
}
.about-desc{
  color: white !important;
}
/* footer */
.footer-style{
  margin-top: 300px;
  height: 50px;
  background-color: #475B5A;
  
  
}
.footer-note{
  padding: 20px 0 20px 0;
  color: #FFFFFF!important;
  margin: auto;
}